:root {
    --accent-color: #FF0314;
}

body{
    background: linear-gradient(90deg, #000, #000E 8%, #000A 20%, #0000),
                url(./img/background.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    padding: 0 128px;

}
footer{
    height: 80px;
    background-color: var(--accent-color);
}
