main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    flex-grow: 1;
    color: white;
    gap: 15px;
}

.multiverse{
    color: red;
}

.imgs{
    display: flex;
    align-items: center;
    flex-grow: 2;
    gap: 85px;
}

.imagens{
    height: 280px;
}

.button{
    height: 80px;
    width: 300px;
    background-color: var(--accent-color);
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 200;
    font-style: italic;
}

@media(max-width:768px){
    h1{
        font-size: 40px;
    }
    .multiverse{
        font-size: 37px;
    }
    .imgs{
        flex-direction: column;
    }
    .button{
        display: flex;
    }
}