:root{
    --accent-color: #FF0314;
}

body, html{
    position: relative;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    background: url(../img/background2.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    padding: 0 128px;   
    animation: zoom 1s;
}

@keyframes zoom{
    0%{
        transform: scale(3);
    }
    100%{
        transform: scale(1);
    }
}