:root{
    --accent-color: #FF0314;
}

body{
    display: flex;
    background-color: black;
    flex-direction: column;
    padding: 0 128px;
}

@keyframes zoom{
    0%{
        transform: scale(4);
    }
    100%{
        transform: scale(1);
    }
}